@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
body {
  background-color: #212226;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
}
