@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300&display=swap');

body {
  background-color: #212226;
  font-family: 'Quicksand', sans-serif;

  font-weight: 100;
}
